<%= form_for(auction_list) do |f| %>
  <% if auction_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auction_list.errors.count, "error") %> prohibited this auction_list from being saved:</h2>

      <ul>
      <% auction_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :vehicle %>
    <%= f.text_field :vehicle %>
  </div>
  <div class="field">
    <%= f.label :seller_payout %>
    <%= f.text_field :seller_payout%>
  </div>
  <div class="field">
    <%= f.label :winning_bid %>
    <%= f.text_field :winning_bid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
