<p id="notice"><%= notice %></p>
<h1>Auction List</h1>

<table>
  <thead>
    <tr>
      <th>Auction Name</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auction_lists.each do |auction_list| %>
      <tr>
        <td><%= auction_list.name %></td>
        <td><%= auction_list.city %></td>
        <td><%= link_to 'Show', auction_list %></td>
        <td><%= link_to 'Edit', edit_auction_list_path(auction_list) %></td>
        <td><%= link_to 'Destroy', auction_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Auction Details</h1>

  <table>
  <thead>
    <tr>
       <th>Auction Name</th>
       <th>Vehicles Sold</th>
       <th>Avg Profit</th>
       <th>Total Profit</th>
    </tr>
   </thead>
   </tbody>
    <% @auction_count.each do |ac| %>
      <tr>
        <td><%= ac.auction_name %></td>
        <td><%= ac.count %></td>
        <td><%= number_with_precision(ac.avg_profit, :precision => 2) || 0 %></td>
        <td><%= number_with_precision(ac.total_profit, :precision => 2) || 0 %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</br>
<%= link_to 'Import Auction List', action: 'upload_form' %>
