<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auction_list.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @auction_list.city %>
</p>
<p>
  <strong>Vehicle:</strong>
  <%= @auction_list.vehicle%>
</p>

<p>
  <strong>Winning Bid:</strong>
  <%= @auction_list.winning_bid%>
</p>

<p>
  <strong>Seller Payout:</strong>
  <%= @auction_list.seller_payout%>
</p>

<%= link_to 'Edit', edit_auction_list_path(@auction_list) %> |
<%= link_to 'Back', auction_lists_path %>
