
<font size="4" color="red"><b><%= notice %></b></font>
<h1 style="text-align: center;"> Auction Upload Form </h1>
</br>
</br>
<%= form_tag({:action => :import}, multipart: true) do %>
  <label> Upload File:  </label> 
    <%= file_field_tag :file, :accept => 'text/csv' %>
  </br>
  </br>
  <div ><%= submit_tag( "Import" ) %> </div>
<% end %>
